[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = {extras = ["fast"], version = "*"}
sqlalchemy = {extras = ["asyncio"], version = "*"}
python-dotenv = "*"
apscheduler = "*"
pytz = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.12"
